<div class="country-page-container">
    <div class="country-input-container">
        <input
            [formControl]="filter"
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
    </div>

    <table class="table table-hover countries-table">
        <tbody>
          <tr *ngFor="let country of filteredCountries$ | async">
            <td>{{country.name}}</td>
          </tr>
        </tbody>
      </table>
</div>